#login{
    background: linear-gradient(120deg,#4c79d3 45%, #ffffff 45%) no-repeat fixed;
}
#app{
    background: linear-gradient(120deg,#ffffff 45%, #4c79d3 45%) no-repeat fixed;
}
header{
    border-bottom: 1px solid #bebcbc;
    padding: 5px;
    background-color: #ffffff;
}
.color-primary{
    color:#4e0070
}
.color-secundary{
    color:#4c79d3;
}
#texto{
    color:#ffffff;
    font-size: 15px;
    font-weight: 500;
}
.coins{
    position: absolute;
    bottom: 50px;
}
.btn.button-login{
    background-color: #4e0070;
    border-radius: 10px;
    color: white;
    width: 60%;
    margin: 0 25%;
}
.button-default{
    border-radius: 10px;
    background-color: #4e0070;
    color: #ffffff;
    padding: 7px;
}

.btn.button-login:hover, .button-default:hover{
    background-color: #4c79d3;
    color: white;
}

.link-default{
    color:#4e0070;
    cursor:pointer;
}
.link-default:hover{
    color: #4c79d3;
}
.text{
    font-size: 10px;
}
.icon-detail{
    font-size: 50px;
    margin-right: 10px;
    vertical-align: middle;
}
.button-default{
    border-radius: 10px;
}
.button-float{
    border-radius: 100%;
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    font-size: 35px;
    background-color: #4e0070;
    color: #ffffff;
}
.logout{
    min-width: 4dem;
}
.menu{
    margin-right: 50px;
}